.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 62px;
  color: #3b3b3b;
  font-weight: 500;
}

.fa-long-arrow-down {
  margin-right: 20px;
  font-size: 14px;
}

.social {
  margin-right: 73px;
}

.scroll-down {
  margin-left: 73px;
}

.social .fa {
  margin-right: 10px;
  cursor: pointer;
  transition: .3s ease-out;
  color: #3b3b3b;;
}

.social .fa:hover {
  color: #fff;
  transition: .3s ease-out;
}

.social .fa:nth-child(3) {
  margin: 0;
}
